<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- ヘッダーHTML読み込み -->
<th:block th:include="/common/header :: common-header"></th:block>
</head>
<body>
  <form action="update" th:object="${game}" method="post"
		enctype="multipart/form-data">
	<!-- 	<input type="hidden" th:field="*{gameId}"> -->

		<div class="card">
			<div class="card-body">
				<div class="form-group row">
					<label for="inputIsbn" class="col-sm-2 col-form-label">レビュータイトル<span
						class="text-danger"></span></label>
					<div class="col-sm-10">
						<input type="text" class=" form-control" >
					</div>
					<div class="col-sm-10">

					</div>
				</div>
				<div class="form-group row">
					<label for="inputBookName" class="col-sm-2 col-form-label">レビュー内容<span
						class="text-danger"></span></label>
					<div class="col-sm-10">
						<textarea id="text1" class=" form-control"></textarea>
					</div>
				</div>
				<div class="form-group row">
					<label for="inputTags" class="col-sm-2 col-form-label">評価<span
						class="text-danger"></span></label>
					<div class="col-sm-10">
					</div>

				</div>
			</div>
		</div>

		<div class="card">
		<div class="card-body">
		</div>
		</div>
		<button type="submit" name="update" value="更新"
			class="btn btn-primary btn-block">保存</button>
		<button type="submit" name="delete" value="削除"
			class="btn btn-secondary btn-block" >削除</button>
</form>
<a class="navbar-brand" th:href="@{/top}">TOP</a>

</body>
</html>