<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel='stylesheet' type='text/css' href='/css/sampleCss.css'>
<style type="text/css">
.jumbotron { background:url(city-1134141_1920.jpg) center no-repeat; background-size: cover;}
</style>
<title>Insert title here</title>
</head>
<body>
<!-- ヘッダーHTML読み込み -->
<th:block th:include="/common/header :: common-header"></th:block>
<!--　▼ ジャンボトロン　 -->
    <div class="jumbotron">
      <div class="container">
        <h1>ようこそ。</h1>
        RPGゲームの紹介ページです。
      </div>
    </div>
<!--　▲ ジャンボトロン　 -->
</body>
</html>